@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #18181B;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #ba12f7 0%,
    #ba12f7 50%,
    #ba12f7 51%,
    #A3B3FF 100%
  );
}
